<!doctype html>
<html>
<title>Big Mouth</title>

<body>

<div>

<h1>Big Mouth</h1>

<form>
  <label for="heading">Hello! Please enter your text here:</label><br>
  <input #text type="text" id="text" text.value=""><br>

  <label for="heading">Hello! Please select your language here:</label><br>
  <input #text type="text" id="language" language.value=""><br>

  <label for="heading">Hello! Please select your voice name here:</label><br>
  <input #text type="text" id="voice_name" voiceName.value=""><br>

  <input type="submit" (click)="getAudio( text.value, language.value, voiceName.value )" value="submit">
  <br><br>
 </form>

</div>
</body>
</html>